main {
  padding: 20px 20px 60px;
  max-width: 680px;
  margin: 0 auto;
}

hr {
  border: none;
  border-bottom: 1px solid #efefef;
  margin: 3em auto;
}

.link-home {
  display: inline-block;
  margin-bottom: 10px;
}

.videos {
  list-style: none;
  margin: 0;
  padding: 0;
}

.videos li {
  border-bottom: 1px solid black;
}
.videos li:last-child {
  border-bottom: none;
}
.videos li a {
  display: flex;
  align-items: center;
}
.videos h3, .videos p {
  margin: 0;
}
.videos img {
  object-fit: contain;
  margin-right: 10px;
}

.player-wrapper,
mux-player {
  width: 100%;
  aspect-ratio: 16 / 9;
  display: flex;
}